# TeamCity Configuration
TEAMCITY_URL=http://192.168.0.48:8080
TEAMCITY_TOKEN=eyJ0eXAiOiAiVENWMiJ9.MC0tbDRZbmFORExVRHhUTFhyakVYdjdidlIw.YzQxYzRmNzYtN2E3OC00ZWExLWEwOTQtYzUwMzcxNmI0NmYw

# Database Configuration (optionnel)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Lpmdlp123
DB_NAME=sentinel

# Application Configuration
DEBUG=true
LOG_LEVEL=INFO 